html {min-height: 95%}

body {
	font-family: roboto, sans-serif, arial;
	height: 100%;
	margin: 0;
	padding-bottom: 30px;

	background-color: #e1e2e1;
}

header {
	border-top: 2vh solid #1f2868;
	margin-bottom: 30px;
	padding: 1vw;

	color: white;
	background-color: rgb(80, 80, 150);
	box-shadow: 1px 0 5px black;
}

img {
	border-radius: 3px;
}

section {
	margin-top: 20px;
	padding: 10px;
	width: 80%;

	border-left: 5px solid gray;
	border-radius: 3px;
	
	box-shadow: 1px 0 6.25px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f6;

	-webkit-transition: border-left 0.2s;
	transition: border-left 0.2s;
}

section:hover {
	border-left: 5px solid red;
}

section p {
	margin-top: calc(100% / 16);
}

section h2 {
	margin-left: 20px;
}

figure {
	float: left;
}

figure img {
	max-width: 15vw;
}

#contentContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#solutionSection:hover {
	border-left: 5px solid rgb(120, 255, 120);
}
