body {
	height: 100vh;
	color: white;
	background-color: rgb(52, 52, 52);

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center
}

canvas {
	border-radius: 3px;
}

button { 
	padding: 5px;

	color: white;
	background-color: hsl(112, 79%, 24%);

	outline: none;
	border: none;
	border-radius: 3px;

	text-decoration: none;
	font-size: 16px;
	
	cursor: pointer;

	transition: background-color 0.2s;
}

button:hover {
	background-color: hsl(112, 79%, 29%);
}

button:active {
	background-color: hsl(112, 79%, 19%);
}

#messageBox {
	width: 70%;
	height: 200px;

	color: hsl(0, 0%, 95%);

	font-size: 30px;
	font-family: monospace;
	text-align: left;
	
	border-radius: 3px;
	border: 3px solid rgb(110, 110, 110);
}


.hidden {
	opacity: 0;
}

.clickable {
	cursor: pointer;
}

