html {min-height: 95%}

body {
	font-family: roboto, sans-serif, arial;
	height: 100%;
	margin: 0;
	padding-bottom: 30px;

	background-color: #e1e2e1;
}

header {
	border-top: 2vh solid #1f2868;
	margin-bottom: 30px;
	padding: 1vw;

	color: white;
	background-color: rgb(80, 80, 150);
	box-shadow: 1px 0 5px black;
}

img {
	border-radius: 3px;
}

section {
	padding: 10px;

	border-radius: 3px;
	
	box-shadow: 1px 0 6.25px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f6;

	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

section.clickable:hover {
	background-color: hsl(223, 100%, 95%);
}

section.clickable:active {
	background-color: hsl(223, 100%, 90%);
}

section h2 {
	margin-left: 20px;
}

figure {
	margin-top: 0;
	float: left;
}

figure img {
	max-width: 15vw;
}

figcaption {
	text-align: center;
	color: rgb(150, 150, 150);
}

a {
	
}

a:active {
	border: none;
}

.noLinkStyle {
	text-decoration: none;
	border: none;
	outline: none;
	color: inherit;
}

.clickable {
	cursor: pointer;
}

.contentBlock {
	margin-top: 20px;
	width: 80%;
}

.disableTextSelection {
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;
}

#contentContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

