section {
	border-left: 5px solid gray;

	-webkit-transition: border-left 0.2s;
	transition: border-left 0.2s;
}

section p {
}

.lowValueSection:hover {
	border-left: 5px solid red;
}

.highValueSection:hover {
	border-left: 5px solid rgb(120, 255, 120);
}
